body{
    background-image: url("images/catbug.gif")
}
html{
     font-family:"Arial", fantasy;
}
table, th, td, p, ol, ul{
    border: 2px inset black;
    border-collapse: collapse;
    font-size: 20px;
}
p, ol, ul, td ,th{
    padding: 20px;
    width: 80%;
    margin: auto;
}
html{
    font-family: "Gloria Hallelujah", cursive;
}